*, body{
    margin: 0;
    padding: 0;
    font-family: "Arial Black", sans-serif;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #161E25;
    /*#161E25*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F2D43D;
}
main{
    width: 100vw;
    height: 90vh;
    background-color: #263440;

}
#nav{
    height: 100vh;
    width: 0;
    /*background: #0c3744;*/
    background: linear-gradient(90deg,rgba(12, 55, 68, 1) 0%, rgba(12, 55, 68, 1) 25%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.7) 100%);
    /*opacity: 0.5;*/
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    /*animation: fadeIn 0.8s;*/
}
.container-nav{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: center;
}
.content-nav{
    margin-top: 25%;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*.header-nav img{*/
/*    width: 80px;*/
/*    height: 80px;*/
/*}*/
.header-nav p{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
}

.menu-button{
    color: #F2D43D;
    font-size: 32px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}
.logo-img{
    height: 8vh;
    width: 8vh;
    border-radius: 6vh;
    background-color: #F2D43D;
    margin: 10px;
}
.container-start{
    display: flex;
    justify-content: space-evenly;
    /*padding: 3vh;*/
}
.perfil-img{
    height: 6vh;
    width: 6vh;
    border-radius: 6vh;
    background-color: #F2D43D;
    margin: 10px;
    cursor: pointer;
}
.header-nav img{
    cursor: pointer;
}