{% extends 'inicio.html' %}

{% block content %}
    <main>

        <span style="display: block">
            <form method="get" action="{{url_for('bebidas')}}">
                <input type="hidden" name="exibir_todos" value="{{exibir_todos}}">
                <input type="hidden" name="exibir_tabela" value="{{exibir_tabela}}">
                <input type="hidden" name="form" value="exibir_todos">
                {% if exibir_todos in ['True', True] %}
                    <label for="exibir_todos" style="color: white">Exibir todos</label>
                    <input type="checkbox" name="todos" onchange="this.form.submit()" id="exibir_todos" checked>
                {% else %}
                    <label for="exibir_todos2" style="color: white">Exibir todos</label>
                    <input type="checkbox" name="todos" onchange="this.form.submit()" id="exibir_todos2">
                {% endif %}
            </form>
        </span>
        <span style="display: block">
            <form method="get" action="{{url_for('bebidas')}}">
                <input type="hidden" name="exibir_todos" value="{{exibir_todos}}">
                <input type="hidden" name="exibir_tabela" value="{{exibir_tabela}}">
                <input type="hidden" name="form" value="exibir_tabela">
                {% if exibir_tabela in ['True', True] %}
                    <label for="exibir_tabela" style="color: white">Exibir tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="exibir_tabela" checked>
                {% else %}
                    <label for="exibir_tabela2" style="color: white">Exibir tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="exibir_tabela2">
                {% endif %}
            </form>
        </span>
        {% if exibir_tabela in ['False', False] %}
            {% if exibir_todos in ['False', False] %}
                {% for b in bebidas %}
                    {% if b['status_bebida'] in ['True', True] %}
                        <div class="card">
                            <h3>#{{b['id_bebida']}}-{{b['nome_bebida']}}</h3>
                            {% for c in categorias %}
                                {% if c['id_categoria'] == b['categoria'] %}
                                    <h3>{{c['nome_categoria']}}</h3>
                                {% endif %}
                            {% endfor %}
                            <p>{{b['valor']}}R$</p>
                            <p>Qtd.:{{b['quantidade']}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for b in bebidas %}
                    {% if b['status_bebida'] in ['True', True] %}
                        <div class="card">
                            <h3>#{{b['id_bebida']}}-{{b['nome_bebida']}}</h3>
                            {% for c in categorias %}
                                {% if c['id_categoria'] == b['categoria'] %}
                                    <h3>{{c['nome_categoria']}}</h3>
                                {% endif %}
                            {% endfor %}
                            <p>{{b['valor']}}R$</p>
                            <p>Qtd.:{{b['quantidade']}}</p>
                        </div>
                    {% else %}
                        <div class="card-user"> <!--Mudar nome para card-desativado-->
                            <h3>#{{b['id_bebida']}}-{{b['nome_bebida']}}</h3>
                            {% for c in categorias %}
                                {% if c['id_categoria'] == b['categoria'] %}
                                    <h3>{{c['nome_categoria']}}</h3>
                                {% endif %}
                            {% endfor %}
                            <p>{{b['valor']}}R$</p>
                            <p>Qtd.:{{b['quantidade']}}</p>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>CATEGORIA</th>
                        <th>QTD</th>
                        <th>VALOR</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bebidas %}
                        {% if b['status_bebida'] in ['True', True] %}
                            <tr>
                                <th>{{b['id_bebida']}}</th>
                                <th>{{b['nome_bebida']}}</th>
                                {% for c in categorias %}
                                {% if c['id_categoria'] == b['categoria'] %}
                                    <th>{{c['nome_categoria']}}</th>
                                {% endif %}
                            {% endfor %}
                                <th>{{b['quantidade']}}</th>
                                <th>{{b['valor']}}</th>
                            </tr>
                        {% endif %}
                        {% if exibir_todos in ['True', True] and b['status_bebida'] in ['False', False] %}
                            <tr class="tr-desativado">
                                <th>{{b['id_bebida']}}</th>
                                <th>{{b['nome_bebida']}}</th>
                                {% for c in categorias %}
                                    {% if c['id_categoria'] == b['categoria'] %}
                                        <th>{{c['nome_categoria']}}</th>
                                    {% endif %}
                                {% endfor %}
                                <th>{{b['quantidade']}}</th>
                                <th>{{b['valor']}}</th>
                            </tr>
                        {% endif %}

                        
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock %}