{% extends 'inicio.html' %}

{% block content %}
    <main>
        <h1>{{valor_}}</h1>
        <span style="display: block">
            <input onchange="testeCheckbox()" value="True" type="checkbox" name="tabelaIsTrue" id="checkbox-tabelaIsTrue">
            <label for="checkbox-tabelaIsTrue">Tabela</label>
        </span>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
        <div class="card">CARD</div>
    </main>
{% endblock %}