{% extends 'inicio.html' %}

{% block content %}
    <main>
<!--        <h1>{{valor_}}</h1>-->
        {% if not valor_ or valor_ == 'False' %}
            <span style="display: block">
                <form method="get" action="{{url_for('cards', valor_=valor_)}}">
                    <label for="tabela2">Tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="tabela2">
                </form>
            </span>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
            <div class="card">CARD</div>
        {% else %}
            <form method="get" action="{{url_for('cards', valor_=valor_)}}">
                <label for="tabela">Tabela</label>
                <input type="checkbox" name="tabela" onchange="this.form.submit()" id="tabela" checked>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Item 1</th>
                        <th>Item 2</th>
                        <th>Item 3</th>
                        <th>Item 4</th>
                        <th>Item 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Item 1</th>
                        <th>Item 2</th>
                        <th>Item 3</th>
                        <th>Item 4</th>
                        <th>Item 5</th>
                    </tr>
                    <tr>
                        <th>Item 1</th>
                        <th>Item 2</th>
                        <th>Item 3</th>
                        <th>Item 4</th>
                        <th>Item 5</th>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock %}