<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royal Burger</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container-start">
            <div class="menu-button">&#9776</div>
            <div class="logo-img"></div>
        </div>
        <h1>ROYAL BURGER</h1>
        <div class="perfil-img"></div>
    </header>
</body>
</html>