{% extends 'inicio.html' %}

{% block content %}
<main>
    <h1>tab{{exibir_tabela}}</h1>
    <h1>tdds{{exibir_todos}}</h1>
    <span style="display: block">
            <form method="get" action="{{url_for('lanche_insumos')}}">
                <input type="hidden" name="exibir_todos" value="{{exibir_todos}}">
                <input type="hidden" name="exibir_tabela" value="{{exibir_tabela}}">
                <input type="hidden" name="form" value="exibir_todos">
                {% if exibir_todos in ['True', True] %}
                    <label for="exibir_todos" style="color: white">Exibir todos</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="exibir_todos" checked>
                {% else %}
                    <label for="exibir_todos2" style="color: white">Exibir todos</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="exibir_todos2">
                {% endif %}
            </form>
        </span>
    <span style="display: block">
            <form method="get" action="{{url_for('lanche_insumos')}}">
                <input type="hidden" name="exibir_todos" value="{{exibir_todos}}">
                <input type="hidden" name="exibir_tabela" value="{{exibir_tabela}}">
                <input type="hidden" name="form" value="exibir_tabela">
                {% if exibir_tabela in ['True', True] %}
                    <label for="exibir_tabela" style="color: white">Exibir tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="exibir_tabela" checked>
                {% else %}
                    <label for="exibir_tabela2" style="color: white">Exibir tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="exibir_tabela2">
                {% endif %}
            </form>
        </span>
    {% if exibir_tabela in ['False', False] %}
    {% if exibir_todos in ['False', False] %}
    {% for i in lanche_insumos %}
    {% if i['qtd_insumo'] != 0 %}
    <div class="card">
        <h1>{{i['insumo_nome']}} - {{i['lanche_nome']}}</h1>
        <p>{{i['qtd_insumo']}}g</p>

        <form method="POST"
              action="{{ url_for('deletar_lanche_insumo', lanche_id=i['lanche_id'], insumo_id=i['insumo_id']) }}">
            <button type="submit" class="btn-delete">🗑️</button>
        </form>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    {% for i in lanche_insumos %}
    {% if i['qtd_insumo'] != 0 %}
    <div class="card">
        {% else %}
        <div class="card-user"> <!--Mudar nome para card-desativado-->
            {% endif %}
            <h1>#{{i['insumo_id']}}-{{i['lanche_id']}}</h1>
            <!--Categoria-->
            <p>{{i['qtd_insumo']}}g</p>

            <form method="POST"
                  action="{{ url_for('deletar_lanche_insumo', lanche_id=i['lanche_id'], insumo_id=i['insumo_id']) }}">
                <button type="submit" class="btn-delete">🗑️</button>
            </form>
        </div>
        {% endfor %}
        {% endif %}

        {% else %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>INSUMO</th>
                <th>LANCHE</th>
                <th>QTD</th>
                <th>AÇÕES</th>

            </tr>
            </thead>
            <tbody>
            {% for i in lanche_insumos %}
            {% if exibir_todos in ['False', False] and i['qtd_insumo'] != 0 %}
            <tr>
                <td>{{i['id_lanche_insumo']}}</td>
                <td>{{i['insumo_nome']}}</td>
                <td>{{i['lanche_nome']}}</td>
                <td>{{i['qtd_insumo']}}</td>
                <td>
                    <form method="POST"
                          action="{{ url_for('deletar_lanche_insumo', lanche_id=i['lanche_id'], insumo_id=i['insumo_id']) }}">
                        <button type="submit" class="btn-delete">🗑️</button>
                    </form>
                </td>

            </tr>
            {% elif exibir_todos in ['True', True] and i['qtd_insumo'] == 0 %}
            <tr class="tr-desativado">
                <td>{{i['id_lanche_insumo']}}</td>
                <td>{{i['insumo_nome']}}</td>
                <td>{{i['lanche_nome']}}</td>
                <td>{{i['qtd_insumo']}}</td>
                <td>
                    <form method="POST"
                          action="{{ url_for('deletar_lanche_insumo', lanche_id=i['lanche_id'], insumo_id=i['insumo_id']) }}">
                        <button type="submit" class="btn-delete">🗑️</button>
                    </form>
                </td>

            </tr>
            {% elif exibir_todos in ['True', True] and i['qtd_insumo'] != 0 %}
            <tr>
                <td>{{i['id_lanche_insumo']}}</td>
                <td>{{i['insumo_id']}}</td>
                <td>{{i['lanche_id']}}</td>
                <td>{{i['qtd_insumo']}}</td>
                <td>
                    <form method="POST"
                          action="{{ url_for('deletar_lanche_insumo', lanche_id=i['lanche_id'], insumo_id=i['insumo_id']) }}">
                        <button type="submit" class="btn-delete">🗑️</button>
                    </form>
                </td>

            </tr>
            {% endif %}


            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock %}