{% extends 'inicio.html' %}

{% block content %}
    <main>
        <h1 style="color: white">valor {{valor_}} </h1>
        <h1 style="color: white"> exibir {{exibir}}</h1>
        {% if not valor_ or valor_ == 'False' %}
            {% if exibir or exibir in ['True', 'true'] %}
                <span style="display: block">
                    <form method="get" action="{{url_for('lanches', valor_='False', exibir='True')}}">
                        <input type="hidden" name="form_id" value="valor">
                        <label for="tabela2" style="color: white">Tabela</label>
                        <input type="checkbox" name="tabela" onchange="this.form.submit()" id="tabela2">
                    </form>
                </span>
                <span style="display: block">
                    <form method="get" action="{{url_for('lanches', valor_='False', exibir='False')}}">
                        <input type="hidden" name="form_id" value="exibir">
                        <label for="oculto" style="color: white">Exibir ocultos</label>
                        <input type="checkbox" name="tabela" onchange="this.form.submit()" id="oculto">
                    </form>
                </span>
            {% else %}
                <span style="display: block">
                    <form method="get" action="{{url_for('lanches', valor_='False', exibir='False')}}">
                        <input type="hidden" name="form_id" value="exibir">
                        <label for="oculto" style="color: white">Exibir ocultos</label>
                        <input type="checkbox" name="tabela" onchange="this.form.submit()" id="oculto">
                    </form>
                </span>
            {% endif %}
            {% for l in lanches %}

                <card class="card">
                    <h1>#{{l['id_lanche']}}</h1>
                    <h2>{{l['nome_lanche']}}</h2>
                    <p>{{l['valor_lanches']}}</p>
                </card>

            {% endfor %}
        {% else %}
            {% if exibir or exibir == 'True' %}
                <form method="get" action="{{url_for('entradas', valor_='True',  exibir='True')}}">
                    <input type="hidden" name="form_id" value="exibir">
                    <label for="tabela" style="color: white">Tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="tabela" checked>
                </form>
            {% else %}
                <form method="get" action="{{url_for('lanches', valor_='True', exibir='False')}}">
                    <input type="hidden" name="form_id" value="exibir">
                    <label for="oculto2" style="color: white">Exibir ocultos</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="oculto2">
                </form>
            {% endif %}
            <table class="tabela">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DATA</th>
                        <th>QUANTIDADE</th>
                        <th>VALOR</th>
<!--                        <th>SALÁRIO</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for l in lanches %}

                        <tr>
                            <th>#{{l['id_entrada']}}</th>
                            <th>{{l['data_entrada']}}</th>
                            <th>{{l['qtd_entrada']}}</th>
                            <th>{{l['valor_entrada']}}</th>

                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock %}