{% extends 'inicio.html' %}

{% block content %}
    <main id="fundo_da_main" >
        <div>



            <div id="card">
                <form id="form" action="{{url_for('login')}}" method="POST">
                <h1 class="titulo_form_login" >Login</h1>
                <label for="email">E-mail</label>
                <input class="input" type="text" name="email" id="email">
                <label for="senha"></label>
                <input class="input" type="password" name="senha" id="senha">
                <label for="lembrar"></label>
                <input type="checkbox" name="lembrar" id="lembrar">

<!--                <input class="buton_enviar_login" type="submit" value="Entrar">-->
                <!-- From Uiverse.io by gharsh11032000 -->
                <button class="animated-button">
                  <span>Hover me</span>
                  <span></span>
                </button>



                <p id="txt" >Não tem uma conta? <a>Cadastrar-se</a></p>
            </form>

            </div>

        </div>
    </main>
{% endblock %}