{% extends 'inicio.html' %}

{% block content %}
    <main>
        <div>
            <form action="{{url_for('login')}}" method="POST">
                <h1>Login</h1>
                <label for="email"></label>
                <input type="text" name="email" id="email">
                <label for="senha"></label>
                <input type="password" name="senha" id="senha">
                <label for="lembrar"></label>
                <input type="checkbox" name="lembrar" id="lembrar">
                <input type="submit" value="Entrar">
                <p>Não tem uma conta? <a>Cadastrar-se</a></p>
            </form>
        </div>
    </main>
{% endblock %}