{% extends 'inicio.html' %}

{% block content %}
    <main>
<!--        <h1>{{pessoas}}</h1>-->
        {% if not valor_ or valor_ == 'False' %}
            <span style="display: block">
                <form method="get" action="{{url_for('pessoas', valor_=valor_)}}">
                    <label for="tabela2">Tabela</label>
                    <input type="checkbox" name="tabela" onchange="this.form.submit()" id="tabela2">
                </form>
            </span>
            {% for p in pessoas %}
                {% if p['nome_pessoa'] != session['username'] %}
                    <card class="card">
                        <h1>#{{p['id_pessoa']}}</h1>
                {% else %}
                    <card class="card-user">
                        <h1>#{{p['id_pessoa']}}</h1>
                        <p>(VOCÊ)</p>
                {% endif %}

                        <h2>{{p['nome_pessoa']}}</h2>
                        <p>{{p['papel']}}</p>
                        <p>{{p['email']}}</p>
                        <p>{{p['salario']}} R$</p>
                    </card>
            {% endfor %}
        {% else %}
            <form method="get" action="{{url_for('pessoas', valor_=valor_)}}">
                <label for="tabela">Tabela</label>
                <input type="checkbox" name="tabela" onchange="this.form.submit()" id="tabela" checked>
            </form>
            <table class="tabela">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>PAPEL</th>
                        <th>EMAIL</th>
                        <th>SALÁRIO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pessoas %}
                        <tr>
                            <th>#{{p['id_pessoa']}}</th>
                            <th>{{p['nome_pessoa']}}</th>
                            <th>{{p['papel']}}</th>
                            <th>{{p['email']}}</th>
                            <th>{{p['salario']}} R$</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
{% endblock %}